
@font-face{
    font-family: SocakeFuenteCustom;
    src: url(./fonts/Socake.ttf);
}

body{
    text-align: center;
    background-color: #7FFFD4A1;
}

h1{
    font-size: 63px;
    font-family: SocakeFuenteCustom, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 4px 0 #ADFF2F;
    margin-top: 14px;
    margin-bottom: 10px;
}

form {
    margin: auto;
    margin-top: 36px;
    border: solid 2px black;
    background-image: url("./img/shop.jpeg");
    background-size: contain;
    opacity: 0.8;
    width: 411px;
    padding: 12px;
    border-radius: 10px;
    transition: color 500ms, transform 500ms;
}

form:hover{
    transform: scale(1.09,1.09); 
}

h2{
    font-family: SocakeFuenteCustom, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1px;
    font-size: 53px;
    color: #008080;
    text-shadow: 2px 0 #000000;
    background-color: #FFFFFF;
}

::placeholder {
    color: #000000;
    font-weight: bold;
}

input[type=text]{
    width: 14rem;
}

input[type=text], textarea, #input-precio, #input-proveedor{
    background-color: #F5F5DC;
    border-radius: 5px;
    border: solid 2px #000000;
}

input[type=submit]{
    cursor: pointer;
    color: #008080;
    background-color: #000000;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bolder;
}

#boton-mostrar{
    background-color: #4682B4;
    color: #FFFAFA;
    transition: color 500ms, transform 500ms;
}

#boton-mostrar:hover{
    transform: scale(1.09,1.09);
}

button{
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #696969;
    background-color: #7DE6E6; /* #4682B4*/;
    border-radius: 10px;
    transition: color 500ms, transform 500ms;
}

button:hover{
    border-color: #FF6347;
}

#input-precio, #input-proveedor{
    width: 6rem;
}

a{
    text-decoration: none;
    color: #FFFAFA;
}

table {
    margin: auto;
    background-color: #E0FFFF;
    border-color: #FF4500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 500ms, transform 500ms;
}

table:hover{
    transform: scale(1.09,1.09);
}

th{
    border-color: #20B2AA;
}

thead th {
    color: #FF6347;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 2px 0 #FFFFFF;
}

h3{
    text-align: center;
    margin: auto;
}